include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include pyproject.toml

recursive-include src/pyaermod *.py
recursive-include tests *.py
recursive-include docs *.md *.yml
recursive-include examples *.py *.ipynb

prune aermod
prune aermap
prune .github
prune benchmarks
prune .claude
